:80
root * /usr/share/caddy
file_server browse

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

basicauth /35abede8-ce5e-4d04-a378-f6f73fb40f59/* {
    35abede8-ce5e-4d04-a378-f6f73fb40f59 $2a$14$h7.UEfTJ7cmXz.Tq8U9JrubRaaXZP4PwGDfuPH9Cd7G8oYKv1s.8.
}

@websocket_xray_vmess {
    header Connection *Upgrade*
    header Upgrade    websocket
    path /35abede8-ce5e-4d04-a378-f6f73fb40f59-vmess
}
reverse_proxy @websocket_xray_vmess unix//etc/caddy/vmess
